# some .tex file vendored to display all languagues in GitHub repo
src/*/*.tex linguist-vendored
src/*/*/*.tex linguist-vendored
src/*/*/*/*.tex linguist-vendored
src/*/*/*/*/*.tex linguist-vendored
src/*/*py linguist-vendored
src/*/*/*py linguist-vendored
src/*/*/*/*py linguist-vendored
